@model RaftEscalator.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserModel[0].UserFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserModel[0].UserLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserModel[0].UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserModel[0].UserPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserModel[0].UserPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserModel[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserModel[0].LastModifiedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
